.grid > header, article, footer, aside{ 	
		padding: 5px;
		border: 2px solid darkblue;
		border-radius: 5px;
		background-color: powderblue;
		color: #FFFF00;}
.grid > article{	
		border-radius: 60px;
		padding: 20px;}
.grid > article > h1{
		color: red;}
header {
		grid-area: hd;}
article {
		grid-area: art;}
aside {
		grid-area:as;}
footer {
		grid-area: ft;}
.grid{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 0px;
		grid-template-areas:
		"hd"
		"as"
		"art"
		"ft";}
@media (min-width: 640px) {
	.grid{
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-gap: 10px;
		grid-template-areas:
		"hd hd"
		"as art"
		"ft ft";}}

body		{ background: linear-gradient(to bottom, #ffffff 40%, #f2f2f2 100%);
			margin: 0;}
h1			{ background-color: #000000;
			  color: #ffffff;
			  font-family: Brandon Grotesque;
			  font-size: 400%;
			  text-align: centre;
			  text-shadow: -1px 0 #808080, 0 1px #808080, 1px 0 #808080, 0 -1px #808080;
			  border: 2px solid #808080; 
			  border-radius: 8px;
			  padding: 20px;
			}

				